.App {
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow: hidden;
}

.App-header {
  background-color: #333;
  padding: 20px;
  color: white;
}

.container-title {
  display: flex;
  align-items: center;
}

.image-home {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.title {
  font-size: 24px;
}

.container-menu {
  background-color: #f1f1f1;
  padding: 20px;
  transition: width 0.3s ease;
  width: 200px;
  overflow: hidden;
}
