body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header{
  position: fixed;
  width: 100%;
  margin-top: -40px;
}

.container-title{
  margin-top: 4%;
}

.nav {
  position: relative;
  left: 0;
  width: 24%;
  height: 28px;
  margin-top: -50px;
  margin-left: 68%;
  padding-left: 7px; /* Ajusta el margen izquierdo según sea necesario */
}

.nav-list {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  background-color: #e6f3e6; /* Color de fondo verdoso */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.image-home{
  border-radius: 60%;
  margin-left: 10px;
}
.menu-desplegable {
  position: relative;
  margin-top: 10%;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #006600;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px; /* Agrega espacio entre las opciones */
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;

}

.menu-item:hover {
  background-color: #51d86f;
  text-decoration: none;

}

.menu-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  
}

.menu-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu-item + .menu-item {
  margin-top: 5px;
}

.nav-list li {
  margin-right: 0px;
  color: #006600; /* Color de texto verdoso */
}

.menu-item a {
  color: #ffff; /* Cambiar el color del texto */
  text-decoration: none; /* Eliminar el subrayado */
}

.carrito-cuenta {
  background-color: #ccffcc; /* Color de fondo verdoso claro para el contador */
  padding: 0% 0%;
  margin-right: 0%;
  border-radius: 50%;
  color: #006600; /* Color de texto verdoso */
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding-top: 10%;
}

.product-container {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
  background: #547058;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.product-container > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-container img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.product-container h2 {
  color: #e6f3e6;
  font-size: 18px;
  margin-bottom: 4%;
}

.product-container p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.product-container h3{
  color: #fff;
}

.menu-button {
  background-color: #65eb65;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: #51d86f;
}

.add-cart {
  background-color: #64de64;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.add-cart:hover {
  background-color: #004400; /* Cambia el color de fondo al pasar el cursor */
}

/* Footer */
.footer {
  background-color: #f4f4f4;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 300px;
  margin-right: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

/* Carrito */
.carrito-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.carrito-container h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10%;
}


.productos-carro {
  display: flex;
  margin-bottom: 20px;
}

.producto-imagen img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.producto-info {
  margin-left: 20px;
}

.producto-nombre {
  font-size: 18px;
  margin: 0;
}

.producto-cantidad,
.producto-precio {
  margin: 5px 0;
}

/* Contacto */
.contacto-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.contacto-container h1 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

button {
  background-color: #65eb65;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #51d86f;
}

/* Taller */
.taller-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.taller-container h1 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20px;
}

.taller-container p {
  margin-bottom: 10px;
}

.taller-container ul {
  margin-left: 20px;
}

.taller-container a {
  color: #007bff;
  text-decoration: none;
}

.taller-container a:hover {
  text-decoration: underline;
}

/* Detalles */
.detalles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.producto-imagen {
  cursor: pointer;
}

.imagen-ampliada {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.imagen-ampliada img {
  max-width: 80%;
  max-height: 80%;
}

.producto-detalles {
  margin-top: 20px;
  text-align: center;
}

.producto-nombre {
  font-size: 24px;
  font-weight: bold;
}

.producto-precio {
  font-size: 18px;
  margin-top: 10px;
}

.producto-descripcion {
  margin-top: 10px;
}



.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
